body {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow: hidden;
}

.header {
    background-image: url('/images/background2.jpg');
    width: 100%;
    height: 150px;
}

.menu {
    margin-top: 50px;
    margin-left: 100px;
}

.back {
    position: absolute;
    margin-top: 20px;
    margin-left: 20px;
    background-color: transparent;
    border: none;
}

.backImg {
    width: 20px;
}

.userSettings {
    position: absolute;
    right: 30px;
    margin-top: 10px;
    display: flex;
    gap: 40px;
}

.userProfile {
    background-color: transparent;
    border: none;

}

.userProfileImg {
    width: 40px;
}

h1 {
    font-size: 40px;
}

.site {
    display: flex;
}

.information {
    margin-top: 50px;
}

.dayWrap {
    display: flex;
}

.day {
    font-size: 17px;
    margin-left: 5px;
}

.dayLogo {
    width: 20px;
}

.day::after {
    content: '';
    position: absolute;
    left: 120px;
    width: 75px;
    height: 2px;
    margin-top: 25px;
    background-color: rgba(0, 0, 0, 1);
}

.informationBox {
    border: 1px solid;
    box-shadow: 5px 10px 8px #888888;
    width: 200px;
    height: 175px;
}

.nameWorkoutWrap {
    display: flex;
}

.nameWorkoutLogo {
    margin-top: 10px;
    margin-left: 15px;
    position: absolute;
    width: 20px;
}

.nameWorkout {
    margin-top: 7px;
    margin-left: 40px;
    font-weight: bold;
    font-size: 15px;
}

.timeWorkout {
    margin-top: -5px;
    margin-left: 20px;
}

.placeWorkout {
    margin-top: -5px;
    margin-left: 20px;
    background-color: rgba(110, 13, 201, 0.126);
    padding: 3px;
    display: inline-block;
}

.doneWorkoutWrap {
    display: flex;
}

.doneWorkoutLogo {
    margin-top: -2px;
    margin-left: 18px;
    position: absolute;
    width: 15px;
}

.doneWorkout {
    margin-top: -5px;
    margin-left: 40px;
}

.countWorkout {
    margin-top: -5px;
    margin-left: 20px;
}

.menuName {
    font-size: 20px;
    margin-top: 50px;
}

.menuName::after {
    content: '';
    position: absolute;
    left: 100px;
    opacity: 0.5;
    width: 320px;
    height: 2px;
    margin-top: 35px;
    background-color: rgba(168, 168, 168, 0.5);
}

.actionsBox {
    margin-top: 30px;
}

.actionText {
    opacity: 0.5;
    font-size: 14px;
    display: flex;
    white-space: nowrap;
    margin-left: 5px;
}

.completed {
    margin-top: 10px;
    border: none;
    position: relative;
    background-color: transparent;
    display: flex;
    width: 135px;
    transition: box-shadow 0.3s ease 0s;
}

.completed:hover {
    box-shadow: 0 0 11px rgba(0, 0, 0, 0.2);
}

.completedLogo {
    width: 20px;
    margin-top: 12px;
}

.newWorkout {
    border: none;
    position: relative;
    background-color: transparent;
    display: flex;
    width: 135px;
    transition: box-shadow 0.3s ease 0s;
}

.newWorkout:hover {
    box-shadow: 0 0 11px rgba(0, 0, 0, 0.2);
}

.newWorkoutLogo {
    width: 18px;
    margin-top: 11px;
}

.addExercise {
    border: none;
    position: relative;
    background-color: transparent;
    display: flex;
    width: 135px;
    transition: box-shadow 0.3s ease 0s;
}

.addExercise:hover {
    box-shadow: 0 0 11px rgba(0, 0, 0, 0.2);
}

.addExerciseLogo {
    width: 18px;
    margin-top: 10px;
}

.navigationBox {
    margin-top: 30px;
}

.navigationText {
    font-size: 14px;
    white-space: nowrap;
    margin-left: 5px;
}

.navigationText::after {
    content: '';
    position: absolute;
    left: 42px;
    width: 60px;
    opacity: 0.5;
    height: 2px;
    margin-top: 15px;
    background-color: rgba(168, 168, 168, 0.5);
}

.navigationLogo {
    width: 30px;
    margin-top: 14px;
}

.workouts {
    margin-top: 10px;
    border: none;
    position: relative;
    background-color: transparent;
    display: flex;
    width: 135px;
}

.exercises {
    border: none;
    position: relative;
    background-color: transparent;
    display: flex;
    width: 135px;
}

.calendarNameWrap {
    display: flex;
}

.calendarNameLogo {
    width: 20px;
    margin-top: 150px;
    margin-left: 60px;
}

.calendarName {
    font-size: 17px;
    margin-top: 170px;
    margin-left: 5px;
}

.calendarName::after {
    content: '';
    position: absolute;
    left: 485px;
    opacity: 0.5;
    width: 1001px;
    height: 2px;
    margin-top: 35px;
    background-color: rgba(168, 168, 168, 0.5);
}

.calendarBlocks {
    display: flex;
    margin-top: -20px;
}

.month {
    margin-top: 10px;
    margin-left: 70px;
}

.mondayWrap {
    margin-left: 60px;
    margin-top: 10px;
}

.mondayText {
    opacity: 0.5;
    margin-left: 55px;
}

.mondayCalnedar {
    margin-top: -12px;
    width: 143px;
    height: 290px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: none;
    background-color: white;
}

.tuesdayWrap {
    margin-top: 10px;
}

.tuesdayText {
    opacity: 0.5;
    margin-left: 55px;
}

.tuesdayCalnedar {
    margin-top: -12px;
    width: 143px;
    height: 290px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: none;
    background-color: white;
}

.wednesdayWrap {
    margin-top: 10px;
}

.wednesdayText {
    opacity: 0.5;
    margin-left: 55px;
}

.wednesdayCalnedar {
    margin-top: -12px;
    width: 143px;
    height: 290px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: none;
    background-color: white;
}

.thursdayWrap {
    margin-top: 10px;
}

.thursdayText {
    opacity: 0.5;
    margin-left: 55px;
}

.thursdayCalnedar {
    margin-top: -12px;
    width: 143px;
    height: 290px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: none;
    background-color: white;
}

.fridayWrap {
    margin-top: 10px;
}

.fridayText {
    opacity: 0.5;
    margin-left: 55px;
}

.fridayCalnedar {
    margin-top: -12px;
    width: 143px;
    height: 290px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: none;
    background-color: white;
}

.saturdayWrap {
    margin-top: 10px;
}

.saturdayText {
    opacity: 0.5;
    margin-left: 55px;
}

.saturdayCalnedar {
    margin-top: -12px;
    width: 143px;
    height: 290px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: none;
    background-color: white;
}

.sundayWrap {
    margin-top: 10px;
}

.sundayText {
    opacity: 0.5;
    margin-left: 55px;
}

.sundayCalnedar {
    margin-top: -12px;
    width: 143px;
    height: 290px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: none;
    background-color: white;
}

#modal {
    display: none;
    position: fixed;
    background-color: rgb(0, 0, 0);
    color: white;
    border: 1px solid #504b4b;
    padding: 20px;
    margin-top: 20px;
    margin-left: -900px;
    opacity: 0;
    transition: opacity 2s ease-in-out;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

h2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

input,
select {
    margin-bottom: 10px;
}

#workoutName {
    margin-left: 27px;
}

#workoutDay {
    margin-left: 77px;
    padding: 1px;
    width: 170px;
}

#workoutTime {
    margin-left: 32px;
}

#workoutPlace {
    margin-left: 32px;
}

#exerciseCount {
    margin-left: 12px;
}

#exerciseChoice {
    margin-left: 39px;
    padding: 1px;
    width: 170px;
}

#setCount {
    margin-left: 45px;
}

.modalButtons {
    display: flex;
    gap: 2px;
    margin-left: 110px;
}

.closeButton {
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: white;
}

.submitButton {
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: white;
}

#modal2 {
    position: fixed;
    background-color: rgb(0, 0, 0);
    color: white;
    border: 1px solid #504b4b;
    padding: 20px;
    margin-left: -900px;
    opacity: 0;
    transition: opacity 2s ease-in-out;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    display: flex;
    width: 240px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

#overlay2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.modalButtons2 {
    display: flex;
    gap: 2px;
    margin-left: 110px;
}

.daysCompleted {
    display: flex;
    margin-bottom: 150px;
}

.dayWrap2 {
    display: flex;
    flex: 1;
}

.day2 {
    font-size: 17px;
    margin-left: 5px;
}

.dayLogo2 {
    width: 20px;
}

.day2::after {
    content: '';
    position: absolute;
    left: 22px;
    width: 100px;
    height: 2px;
    margin-top: 23px;
    background-color: rgb(255, 255, 255);
}

.closeButton2 {
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: white;
    position: absolute;
    top: 15;
    right: 15;
    margin: 0px;
}

.informationBox2 {
    border: 1px solid;
    width: 200px;
    height: 135px;
    position: absolute;
    margin-top: 50px;
    color: white;
    margin-right: 10px;
    margin-bottom: 10px;
}

.nameWorkoutWrap2 {
    display: flex;
}

.nameWorkoutLogo2 {
    margin-top: 10px;
    margin-left: 15px;
    position: absolute;
    width: 20px;
}

.nameWorkout2 {
    margin-top: 7px;
    margin-left: 40px;
    font-weight: bold;
    font-size: 15px;
}

.timeWorkout2 {
    margin-top: -5px;
    margin-left: 20px;
}

.placeWorkout2 {
    margin-top: -5px;
    margin-left: 20px;
    background-color: rgba(135, 9, 253, 0.126);
    padding: 3px;
    display: inline-block;
}

.countWorkout2 {
    margin-top: -5px;
    margin-left: 20px;
}

#modal3 {
    position: fixed;
    background-color: rgb(0, 0, 0);
    color: white;
    border: 1px solid #504b4b;
    padding: 20px;
    margin-left: -900px;
    opacity: 0;
    transition: opacity 2s ease-in-out;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    display: flex;
    width: 330px;
    height: 240px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

#overlay3 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.trainingInput {
    display: flex;
    gap: 10px;
}

.trainingLabel {
    margin-top: 10px;
}

#addTraining {
    margin-top: 10px;
}

.modalButtons3 {
    display: flex;
    gap: 2px;
    margin-left: 70%;
    margin-top: 80px;
}

.closeButton3 {
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: white;
}

/* &Mejxo; &Berta; &MrMarcus; &Pkepy */